


body {
     background: url('img/village-houses.jpg');
     height: 100%;
    background-size: cover; 
    background-color: black;
    font-family: 'Merriweather', serif;
}

.container {
    margin-left: 7.5%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}



.column-container {
    display: flex;
    flex-direction: column;
  

}


.day-item {
    background-color: rgba(20, 20, 20, 0.4);
    /* background-color: rgba(220, 220, 220, 0.8); */
    font-size: large;
    color: #fcbab7;
    /* color: #d8cfce; */
    width: 90%;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    /* border:1px solid red; */
    border-radius: 2px;
}

img { 
    width: 100%;
    height: 100%;
}
